body {
    font-family: Arial, sans-serif;
    text-align: center;
}

select {
    padding: 5px;
    font-size: 16px;
    margin-bottom: 20px;
}

table {
    margin: auto;
    border-collapse: collapse;
    width: 50%;
}

th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #ddd;
}

.chart-container {
    width: 80%;
    max-width: 500px;  /* Prevents the chart from being too big */
    height: 300px;
    margin: auto;
}

canvas {
    width: 100%;
    height: 100%;
    display: block;
}

.button-container {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    padding: 20px;
}

.button-container a {
    text-decoration: none;
    padding: 10px 20px;
    background-color: blue;
    color: white;
    border-radius: 5px;
    font-weight: bold;
}

.button-container a:hover {
    background-color: darkblue;
}
